
.DS_Store
labs/lab_01/.Rhistory
labs/lab_02/.Rhistory
labs/lab_03/.Rhistory
labs/lab_04/.Rhistory
labs/lab_05/.Rhistory
labs/lab_06/.Rhistory
labs/lab_07/.Rhistory
labs/lab_08/.Rhistory
labs/lab_09/.Rhistory
labs/lab_10/.Rhistory
labs/lab_11/.Rhistory
labs/lab_12/.Rhistory
labs/lab_13/.Rhistory
pre_labs/pre_lab_02/.Rhistory
pre_labs/pre_lab_05/.Rhistory
pre_labs/pre_lab_06/.Rhistory
pre_labs/pre_lab_07/.Rhistory
pre_labs/pre_lab_08/.Rhistory
pre_labs/pre_lab_09/.Rhistory
pre_labs/pre_lab_10/.Rhistory
pre_labs/pre_lab_11/.Rhistory
pre_labs/pre_lab_12/.Rhistory
pre_labs/pre_lab_13/.Rhistory
recap/.Rhistory
